@import '../../styles/style.scss';

#contact{
    margin-bottom: 10rem;
    .input-field {
        width: 60rem;
        height: 6rem;
        background-color: #fff;
        box-shadow: .2rem .2rem 1.5rem rgb(224, 224, 224);
        margin: 1rem auto 0;

        input{
            border: none;
            width: 75%;
            height: 100%;

            &::placeholder{
                font-size: 14px !important;
                padding-left: 2rem !important;
            }
        }

        button{
            width: 25%;
            height: 4.5rem;
            background-image: $pri-gradient;
            border: none;
            margin-right: 1rem;
            color: white;
            font-size: 14px;
        }
    }
}

@media (max-width: 768px) {
    #contact {
        .input-field{
            width: 40rem;
        }
    }
}