@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&family=Yeseva+One&display=swap');
@import './styles/style.scss';

*, *::after, *::before {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

html {
  font-size: 62.5%;
}

.main-heading {
  font-family: 'Yeseva One', cursive;
  font-size: 10.6rem;
  color: $pri-text-color;
}

.heading {
  font-size: 4.8rem;
  color: $pri-text-color;
}

.sub-heading {
  font-size: 2.4rem;
  font-weight: 600;
  color: $pri-text-color;
}

.description {
  font-size: 1.6rem;
  color: $sec-text-color;
}