@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&family=Yeseva+One&display=swap');
@import './styles/style.scss';

*, *::after, *::before {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

html {
  font-size: 62.5%;
}

.logo{
  width: 13.1rem;
}

.main-heading {
  font-family: 'Yeseva One', cursive;
  font-size: 8.6rem;
  color: $pri-text-color;
}

.heading {
  font-family: 'Yeseva One', cursive;
  font-size: 4.8rem;
  color: $pri-text-color;
  text-align: center;
}

@media (max-width: 768px) {
  .main-heading{
    font-size: 4.2rem;
  }
  
  .heading{
    font-size: 3.6rem;
  }
}

.sub-heading {
  font-size: 2.4rem;
  font-weight: 600;
  color: $pri-text-color;
  text-align: center;
}

.description {
  font-size: 1.6rem;
  color: $sec-text-color;
}

#main-btn {
  font-size: 1.5rem;
  font-weight: 500;
  padding: 1rem 3rem;
  color: white !important;
  border-radius: 2rem 0 2rem 0;
  background-image: $pri-gradient;
  border: none !important;
  transition: all linear 0.4s;

  &:hover {
    border-radius: 0 2rem 0 2rem;
  }
}

li {
  list-style-type: none !important;
}